@import "../../styles/variables.scss";

.CartContainer {
    display: flex;
    justify-content: center;

    .Cart {
        background: white;
        display: flex;
        justify-content: center;
        align-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        border-radius: 20px;
        padding: 20px;

        .close {
            cursor: pointer;
            position: fixed;
            top: -10px;
            left: 30px;
        }

        .title {
            width: 100%;
            text-align: center;
        }

        .left {
            padding: 20px;
            width: 50%;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;

            .travelers {

                display: flex;
                justify-content: center;
                align-content: center;
                flex-wrap: wrap;

                h2 {
                    width: 100%;
                }

                .selectNumber {
                    padding: 0 10px 0 10px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    flex-wrap: wrap;
                    align-items: center;
                    width: 100%;
                    border: 1px solid rgb(62, 62, 62);
                    border-radius: 5px;


                    .btn {
                        width: 10%;
                        height: 40px;
                    }

                    .number {
                        width: 10%;
                        text-align: center;
                    }

                    h3 {
                        width: 70%;
                    }
                }
            }

            .ads {
                margin-top: 35px;

                .adsBox {
                    cursor: pointer;
                    padding: 0 10px 0 10px;
                    border: 1px solid rgb(62, 62, 62);
                    border-radius: 5px;
                }
            }
        }

        .right {
            width: 50%;
            border: 1px solid rgb(62, 62, 62);
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-content: space-around;
            flex-wrap: wrap;
            padding: 20px;

            .summary {
                text-align: center;
                color: black;
            }

            .destination {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                .city {
                    // width: calc(100%/3);
                    // overflow-x:;
                    display: block;
                    padding-right: 20px;
                    width: fit-content;
                    justify-self: flex-start;
                }
            }

            h3 {
                color: rgb(62, 62, 62);
                // padding-left: 20px;
                width: 100%;
            }

            h2 {
                // padding-left: 20px;
                width: 100%;
            }

            .info {
                // padding: 20px;
                border-top: 1px solid rgb(62, 62, 62);
                width: 100%;
                display: flex;
                justify-content: center;
                align-content: space-around;
                flex-wrap: wrap;

                .travelersH2 {
                    width: 80%;
                }

                .number {
                    width: 20%;
                    text-align: end;
                }

                .totalValue {
                    width: 40%;
                    text-align: end;
                }

                .total {
                    // padding-left: 20px;
                    width: 60%;
                }
            }
        }
    }
}


@media screen and (max-width: 900px) {
    .CartContainer {

        .Cart {
            width: 100vw;
            min-height: 1040px;
            border-radius: 0;
            padding: 10px;
            align-content: flex-start;


            .left {
                width: 100%;
            }

            .right {
                width: 100%;
                margin: 20px;
            }
        }
    }
}

// @media screen and (max-width: 439px) {
//     .CartContainer {
//         .Cart {
//             min-height: 1100px;
//         }
//     }
// }

@media screen and (max-width: 360px) {
    .CartContainer {
        .Cart {
            // min-height: 1400px;

            .left {
                .travelers {
                    .selectNumber {
                        .btn {
                            width: 32%;
                        }

                        .number {
                            width: 30%;
                        }
                    }
                }
            }

            .right {
                .destination {
                    .city {
                        width: 100%;
                        text-align: center;
                    }
                }

                .info {
                    .totalValue {
                        width: 100%;
                        text-align: center;
                    }

                    .total {
                        width: 100%;
                        text-align: center;
                    }

                    .travelersH2 {
                        width: 100%;
                        text-align: center;
                    }

                    .number {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }
}

// @media screen and (max-width: 340px) {
//     .CartContainer {
//         .Cart {
//             min-height: 1600px;
//         }
//     }
// }