@import "../../../styles/variables.scss";

.hide {
  display: none;
}
.overlay {
  position: fixed;
  background-color: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.ActivityCardContainer {
  text-align: center;
  width: 90%;
  border-radius: 20px;
  border: 1px $primary-color dashed;
  background-color: white;
  margin: 0 auto;
  padding: 10px 0;
  color: $primary-color;
  &.fix {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 3;
    width: 80%;
    height: 620px;
    overflow: scroll;
    justify-content: space-around;
    .Categories {
      width: 80%;
      margin: 0 auto;
    }
    .fixInfo {
      position: absolute;
      top: 0px;
      margin: 20px;
      padding: 10px 0;
    }
    .descriptionExpand {
      gap: 20px;
    }
  }
  .fixInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
  }
  h2 {
    margin: 2px 0;
    font-size: 18px;
  }
  h3 {
    margin: 10px 0;
    font-size: 15px;
  }
  .descriptionExpand {
    display: flex;
    flex-direction: column;
    gap: 5px;
    p {
      margin: 2px 0;
      font-size: 13px;
    }
    span {
      height: 25px;
      .expand {
        position: relative;
        animation: infinite;
        animation-name: expand;
        animation-duration: 2s;
        border-radius: 10px;
        cursor: pointer;
      }
      .reduce {
        cursor: pointer;
        animation: infinite;
        animation-name: expand;
        animation-duration: 2s;
        transform: rotate(180deg);
      }
    }
  }
  .kind {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 5px;
  }
  .Categories {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 5px 0;
    margin: 0 auto;
    width: 80%;
    p {
      background-color: #ffdc1b;
      color: $primary-color;
      border-radius: 10px;
      padding: 5px 8px;
      margin: 5px 0;
      font-weight: 600;
      font-size: 12px;
    }
  }
  .btn {
    font-family: "Montserrat", sans-serif;
  }
}

@keyframes expand {
  0% {
    top: 0;
  }
  100% {
    top: 10px;
  }
}

@media (min-width: 600px) {
  .ActivityCardContainer {
    padding: 20px;
    &.fix {
      h2 {
        font-size: 22px;
      }
      h3 {
        font-size: larger;
      }
      p {
        font-size: 17px;
      }
    }
  }
}
@media (min-width: 800px) {
  .ActivityCardContainer {
    width: 300px;
    justify-content: space-between;
    &.fix {
      .fixInfo {
        height: 95%;
      }
    }
  }
}
@media (min-width: 1800px) {
  .ActivityCardContainer {
    width: 450px;
  }
}
