@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");

.DynamicCountry {
  width: 100%;
  .GalleryCityPageContainer {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    // height: 400px;
  }
  .mapContainer {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
  }
}
