@import "../../styles/variables.scss";

.DetailsContainer {
  color: $primary-color;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;

  .OnlyFor {
    background-color: rgb(127, 236, 255);
    border-radius: 20px;
    margin: 0 15px;
    padding: 0 18px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    p {
      padding: 10px 15px;
      text-align: center;
    }
  }
  .Included {
    border: 1px red solid;
    width: 100%;
    padding: 0 15px;
    overflow: hidden;

    .Hide {
      height: 0;
      .SingleEl {
        opacity: 0;
      }
      transition: all 0.3s ease-in-out;
    }
    .TopElements {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      overflow: hidden;
    }
    .Elements {
      height: 270px;
      display: grid;
      transition: all 0.3s ease-in-out;

      .SingleEl {
        opacity: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        transition: all 0.3s ease-in-out;
        gap: 10px;
        p {
          margin: 3px 0;
        }
      }
    }
  }
}
