
.CarouselTwo{
    padding: 2rem;
    width: 100%;
    border-radius: 15px;
    margin: 0 auto;
  
    h2{
        margin: 2rem;
        bottom: 5px;
    }
    .carouselContaner{
        .card{
            position: relative;
            height: 200px;
            width: 350px;
            border-radius: 15px;
            margin-bottom: 1rem;
        
            img{
                width: 100%;
                height: 100%;
                position: absolute;
                border-radius: 15px;
                box-shadow: 10px 5px 5px grey;
                
            }
            h2{
                position: absolute;
                color: white;
            }
        }

    }
}

