@import "../../styles/variables.scss";
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px 18px;
  color: $primary-color;

  .logo {
    margin-right: 50px;
    width: 130px;
    cursor: pointer;
  }

  .menuMobile {
    .hidden {
      overflow: hidden;
      position: absolute;
      left: 0;
      height: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      z-index: 9999;
      transition: height 0.5s ease-in-out;
      li {
        border-top: 1px $primary-color solid;
        list-style: none;
        width: 100%;
        .SingleNav {
          width: 40%;
          margin: 0 auto;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          gap: 50px;
          svg {
            width: 20px;
            height: auto;
          }
          p {
            margin: 30px 0;
          }
        }
      }
    }
    .listMobile {
      overflow: hidden;
      position: absolute;
      background-color: white;
      left: 0;
      width: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 400px;
      z-index: 9999;
      transition: height 0.5s ease-in-out;
      li {
        border-top: 1px $primary-color solid;
        list-style: none;
        width: 100%;
        .SingleNav {
          width: 40%;
          margin: 0 auto;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          gap: 50px;
          svg {
            width: 20px;
            height: auto;
          }
          p {
            margin: 30px 0;
          }
        }
      }
    }
  }

  //  DESKTOP
  .list {
    list-style: none;
    display: flex;
    gap: 30px;
    li {
      svg {
        cursor: pointer;
        width: 21px;
        height: auto;
      }
    }
  }

  .toggler {
    svg {
      width: 25px;
      height: auto;
    }
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    .menu {
      width: 100%;
      max-height: 0;
      overflow: hidden;
    }
    .list {
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
    p {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
    }
  }
}
@media (min-width: 600px) {
  .navbar {
    .toggler {
      display: none;
    }
  }
}
@media (min-width: 700px) {
  .navbar {
    padding: 15px 25px;
    .logo {
      width: 150px;
    }
    .menu {
      .list {
        li {
          svg {
            width: 23px;
            height: auto;
          }
        }
      }
    }
  }
}
@media (min-width: 1000px) {
  .navbar {
    padding: 15px 40px;
    .menu {
      .list {
        li {
          svg {
            width: 25px;
          }
        }
      }
    }
  }
}
@media (min-width: 1500px) {
  .navbar {
    padding: 15px 70px;
    .logo {
      width: 180px;
    }
    .menu {
      .list {
        gap: 50px;
        li {
          svg {
            width: 28px;
          }
        }
      }
    }
  }
}
@media (min-width: 1800px) {
  .navbar {
    padding: 15px 200px;
    .logo {
      width: 200px;
    }
  }
}
