.Navbar{
    display: flex;
        ul{
            display: flex;
            flex-direction: row;
            list-style: none;
                .logo{
                    width: 200px;
                    cursor: pointer;
                }
                .RightMenu{
                    position: absolute;
                    top: 30px;
                    right: 30px;
                    cursor: pointer;
                }

        }

    }