@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
@import "../../styles/variables.scss";

.Footer {
  background-color: $primary-color;
  color: rgb(241, 241, 241);
  border-top-right-radius: 150px;
  font-family: "Montserrat", sans-serif;
  .Container {
    display: grid;
    justify-content: center;
    gap: 20px;

    grid-template-areas:
      "mail"
      "contact"
      "about"
      "info";

    width: 80%;
    margin: 0 auto;
    padding: 50px 0;

    h4 {
      font-size: 20px;
      margin: 10px 0;
      cursor: pointer;
    }

    .Hide {
      height: 0;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      a {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }
      p {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }
    }
    .Show {
      height: 70px;
      transition: all 0.3s ease-in-out;
      a {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
      }
      p {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
      }
    }

    .Mail {
      display: flex;
      flex-direction: column;
      width: 250px;
      .Form {
        .InputMail {
          padding: 10px;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          border: none;
        }
        .InputMail::placeholder {
          font-family: "Montserrat", sans-serif;
        }
        .Send {
          background: $btn_color;
          padding: 10px;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          border: none;
          color: $secondary_color;
          cursor: pointer;
        }
        .Send:hover {
          background: $btn_color_hvr;
        }
        .mailPrivacy {
          font-size: 9px;
        }
      }
      grid-area: mail;

      .Social {
        .LogoSocial {
          display: flex;
          flex-direction: row;
          gap: 25px;
        }
      }
    }
    .Contact {
      display: flex;
      flex-direction: column;
      justify-content: start;
      grid-area: contact;
    }
    .About {
      display: flex;
      flex-direction: column;
      justify-content: start;
      grid-area: about;
    }
    .Info {
      display: flex;
      flex-direction: column;
      justify-content: start;
      grid-area: info;
    }
  }

  p {
    cursor: pointer;
    margin: 7px 0;
  }
  p:hover {
    text-decoration: underline;
  }
}

@media (min-width: "600px") {
  .Footer {
    .Container {
      column-gap: 40px;
      grid-template-areas:
        "mail contact"
        "about info";
    }
  }
}
@media (min-width: "800px") {
  .Footer {
    .Container {
      column-gap: 40px;
      grid-template-areas: "mail contact about info";
      h4 {
        cursor: default;
      }
      .Hide {
        height: 100%;
        a {
          opacity: 1;
        }
        p {
          opacity: 1;
          margin: 12px 0;
        }
      }
      .Show {
        a {
          opacity: 1;
        }
        p {
          opacity: 1;
          margin: 12px 0;
        }
      }
    }
  }
}
@media (min-width: "1000px") {
  .Footer {
    .Container {
      column-gap: 60px;
    }
  }
}
@media (min-width: "1250px") {
  .Footer {
    .Container {
      column-gap: 90px;
    }
  }
}
@media (min-width: "1400px") {
  .Footer {
    .Container {
      column-gap: 120px;
      .Hide {
        p {
          margin: 17px 0;
        }
      }
      .Show {
        p {
          opacity: 1;
          margin: 17px 0;
        }
      }
    }
  }
}
@media (min-width: "1600px") {
  .Footer {
    .Container {
      column-gap: 150px;
    }
  }
}
