.wrapperSquare{
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;

    .leftSquare{
        background-color: antiquewhite;
        border-radius: 15px;
    }
    .rightSquare{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap:20px ;
        
       
        .topWrapperSquare{
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap:20px ;
            
            

            .smLeftSquare{
                background-color: bisque;
                width: 100%;
                height: 100%;
                border-radius: 15px;
            }
            .smRigtSquare{
                background-color: thistle;
                width: 100%;
                height: 100%;
                border-radius: 15px;
            }
        }
        .buttomRigSquare{
            background-color: blueviolet;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            
        }
    }

}