$primary_color: #1e2538;
$secondary_color: #ffffff;
$third_color: #0298c9;
$btn_color: #ffdc1b;
$btn_color_hvr: #ffe96f;

.btn {
  background: $btn_color;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: $primary_color;
  font-weight: 600;
  cursor: pointer;
  z-index: 2;
}
.btn:hover {
  background: $btn_color_hvr;
}

/* button */
.arrowBtn{
    background-color: #ffc922;
    padding: 9px 8px ;
    width: 60px;
    height: 42px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    border-radius: 24px;
}
