$primary_color: #1e2538;
$secondary_color: #ffffff;
$third_color: #0298c9;
$btn_color: #e7374c;
$btn_color_hvr: #ec5f70;

.btn {
  background: $btn_color;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: $secondary_color;
  cursor: pointer;
}
.btn:hover {
  background: $btn_color_hvr;
}
